<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="calendar_title">
        <div class="calendar__title_content">
            <img  class="calendar__title_content_img" src="images/icons/icon-calendar.png" alt="">
            <p class="calendar__title_content-title">Календар оплат 2017 - 2018</p>
            <p class="calendar__title_content-what">Що це таке?</p>
        </div>
        <div class="calendar__title_content-price">
            <p class="calendar__title_content-price--cintent">
                <span class="calendar__title_content-price--cintent-big"> 1 500.00 UAH</span>
                <br>
                найближчий платіж </p>
            <figyre class="calendar__title_content-price--fuigure">
                <img src="images/icons/icon-carde.png" alt="" class="calendar__title_content-price--img">
            </figyre>
        </div>
    </div>

</div>